html { 
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background: url(./img/ideas1-main.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: red;
    background-blend-mode: darken;
  }

body {
    background-color: transparent;
    height: 100%;
  }

h1 {
   font-family: 'Montserrat', sans-serif;
   color: whitesmoke;
}

p {
    color: white;
}

.buffer {
    height: 10rem;
}
.btn {
    color: black;
    font-weight: 700;
    border-radius: 300px;
}

.btn-primary {
    background-color:blue;
    border-color: rgb(40, 78, 80);
}

.btn-primary:hover {
    background-color: cadetblue;
}

.btn1 {
    padding: 1rem 2 rem;

}

